html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding-top: 40px;
  padding-bottom: 105px;
}

.header a {
  text-decoration: none;
}

.logo_link {
  position: absolute;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  color: #95e1d3;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-list li {
  margin-left: 58px;
  line-height: 36px;
}

.nav-list li:first-child {
  margin: 0;
}

.nav-list a {
  color: #95e1d3;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
}

.nav-list a:hover,.nav-list a:focus {
  width: 100%;
  color: #f38181;
  transition-duration: 200ms;
}

.nav-list-item::after {
  display: block;
  width: 50px;
  height: 3px;
  background-color:rgb(243, 129, 129); 
  content: '';
  margin: auto;
  opacity: 0;
}

.nav-list-item:hover::after {
 opacity: 1;
 transition-duration: 200ms;
}

.services >h3 {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 25px;
  padding: 0;
}

.services h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 65px;
}

.services h2::after {
  display: block;
  width: 60px;
  height: 3px;
  background-color:rgb(243, 129, 129); 
  content: '';
  margin: auto;
  margin-top: 42px;
}

.service-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-list-item {
  position: relative;
  max-width: 380px;
  padding-left: 80px;
  padding-bottom: 100px;
}

.service-list-item::before {
  position: absolute;
  content: '';
  display: inline-block;
  top: 0;
  left: 20px;
  background-repeat: no-repeat;
  width: 31px;
  height: 31px;
}

.alarm::before {
  background-image: url('../img/icons/alarm.png');
}

.graph::before {
  background-image: url('../img/icons/graph.png');
}

.computer::before {
  background-image: url('../img/icons/computer.png');
}

.book::before {
  background-image: url('../img/icons/book.png');
}

.home::before {
  background-image: url('../img/icons/home.png');
}

.digital::before {
  background-image: url('../img/icons/digital.png');
}

.service-title {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: 400;
}

.service-descr {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.team > h3 {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 25px;
  padding: 0;
}

.team h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.team h2::after {
  display: block;
  width: 60px;
  height: 3px;
  background-color:rgb(243, 129, 129); 
  content: '';
  margin: auto;
  margin-top: 42px;
  
}

.team-about {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-align: center;
  line-height: 24px;
  color: #999999;
  padding: 0 122px;
  margin: 0;
  margin-bottom: 95px;
}

.team-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.team-list-item {
  position: relative;
  text-align: center;
}

.underlay {
  position: absolute;
  width: 380px;
  height: 470px;
  background-color: #95e1d3;
  z-index: -1;
}

.card-hover {
  position: absolute;
  width: 380px;
  height: 470px;
  background: linear-gradient(to top, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9));
  opacity: 0;
  z-index: 5;
}

.card-hover:hover {
  transform: translate(-10px, -10px);
  opacity: 1;
  transition-duration: 200ms;
}

.image-hover:hover img{
  transform: translate(-10px, -10px);
  transition-duration: 200ms;
}

.card-hover-content {
  position: absolute;
}

.socials {
  width: 380px;
  min-height: 470px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials li{
  display: block;
  width: 56px;
  height: 56px;
  margin: 1px;
  background-color: #fce38a;
  background-repeat: no-repeat;
  background-position: center;  
}

.facebook {
  background-image: url("../img/icons/facebook.png");
}

.twitter {
  background-image: url("../img/icons/twitter.png");
}

.pinterest {
  background-image: url("../img/icons/pinterest.png");
}

.instagram {
  background-image: url("../img/icons/instagram.png");
}

.socials li:hover  {
  background-color:rgba(238,137,137,0.9);
  transition-duration: 200ms;
}

.team-list-name {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;  
}

.team-list-occupation {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
  color: #999999;
}

.team::after {
  display: block;
  width: 1200px;
  height: 1px;
  background-color:#e5e5e5; 
  content: '';
  margin-top: 82px;
}

footer>ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding-left: 0px;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 0px;
}
.author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding-left: 38px;
}
.author>li {
  color: #333333;
  font-weight: 300;
}
.author>li>a {
  margin-left: 5px;
  color: #ff9999;
}
.subscribe {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  padding:10px 40px 10px 0;
}
input {
  width: 230px;
  height: 42px;
  border: 1px solid #e5e5e5;
  border-right: 1px solid transparent;
  font-style: italic;
  font-weight: 300;
}
input::-moz-placeholder {
  color: #e5e5e5;
}
input:hover {
  cursor: text;
}
button {
  width: 150px;
  height: 42px;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #95e1d3;
  background-color: #95e1d3;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
}
button:hover {
  cursor: pointer;
  background-color: #ff9999;
  transition-duration: 200ms;
  border-color: #ff9999;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}