@import "fonts.css";
@import "normalize.css";

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.container{
	width: 1247px;
	margin: 0 auto;
	padding-right: 20px;
}

body .header_wrapper {
	width: 100%;
	height: 1000px;
	background-image: url('../img/Layer-15-min.png');
	background-position: center;
	background-size: cover;
}

body .header_wrapper .container	.nav_wrap{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack:justify;
		    -ms-flex-pack:justify;
		        justify-content:space-between;
		width: 1140px;
		margin:auto;
		padding-top: 20px;
		padding-bottom: 145px;
	}

body .header_wrapper .container	.nav_wrap .logo_link{
			text-decoration: none;
			width: 86px;
			height: 23px;
			color: #ffffff;
			font-family: 'montserrat-bold';
			font-size: 30px;
			font-weight: 700;
}

body .header_wrapper .container	.nav_wrap:hover{
			color: #fce38a;
}

body .header_wrapper .container	.nav_wrap nav .menu_list{
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			position: relative;
			-webkit-box-pack:justify;
			    -ms-flex-pack:justify;
			        justify-content:space-between;
			width: 620px;
			list-style: none;
			padding-top: 15px;
}

body .header_wrapper	.nav_wrap nav .menu_list .menu_item{
				max-width: 60px;
				text-align: center;
}

body .header_wrapper	.nav_wrap nav .menu_list .menu_item .menu_link{
					width: 60px;
					height: 10px;
					color: #ffffff;
					font-family: montserrat;
					font-size: 14px;
					font-weight: 400;
					text-transform: uppercase;
					font-size:14px;
					text-decoration: none;
}

body .header_wrapper	.nav_wrap nav .menu_link::after{
						content: "";
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						position: absolute;
						top: 40px;
						width: 50px;
						 height: 3px;
						 background-color: #fce38a;
						 opacity: 0;
						 -webkit-transition: all 0.5s ease;
						 -o-transition: all 0.5s ease;
						 transition: all 0.5s ease;
}

body .header_wrapper	.nav_wrap nav .menu_item:nth-child(2) .menu_link::after{
								width: 60px;
}

body .header_wrapper	.nav_wrap nav	.menu_item:nth-child(4) .menu_link::after{
								width: 45px;
}

								body .header_wrapper	.nav_wrap nav	.menu_item:nth-child(5) .menu_link::after{
								width: 67px;
}

								body .header_wrapper	.nav_wrap nav	.menu_link:hover{
							color: #fce38a;
}

							body .header_wrapper	.nav_wrap nav	.menu_link:hover.menu_link::after{
								opacity: 1;
								-webkit-transition: all 0.5s ease;
								-o-transition: all 0.5s ease;
								transition: all 0.5s ease;
}

body .header_wrapper .container .nav_wrap a:hover .icon use {
									fill: #fce38a;
									-webkit-transition: 0.2s;
									-o-transition: 0.2s;
									transition: 0.2s;
}

body .header_wrapper .container .nav_wrap a .icon {
									width: 17px;
									height: 17px;
									fill:#fff;
}

body .header_wrapper .container	header_container {
		margin-bottom: 80px;
}

body .header_wrapper .container	header_container .header_slogan {
			margin-top: 192px;
			text-align: center;
			margin: 0 auto;
}

body .header_wrapper .container .header_subtitle{
        	width: 520px;
        	height: 87px;
        	color: #ffffff;
        	font-family: "Kaushan Script";
        	font-size: 72px;
        	font-weight: 400;
        	text-align: center;
			margin-bottom: 65px ;
			margin-left: auto;
			margin-right: auto;
}

body .header_wrapper .header_container   .header_title {
			width: 802px;
			height: 248px;
			color: #ffffff;
			font-family: montserrat-bold, regular;
			font-size: 150px;
			font-weight: 700;
			line-height: 140px;
			text-transform: uppercase;
			text-align: center;
			margin: 0 auto;
			margin-bottom: 125px;
}

body .header_wrapper .header_container  .header-button {
			display: block;
			width: 160px;
			height: 40px;
			border: 3px solid #ffffff;
			color: #ffffff;
			font-family: montserrat;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
	 	    line-height: 35px;
	 	    text-align: center;
	 	    text-decoration: none;
			margin: auto;
			cursor: pointer;
}

body .header_wrapper .header_container:hover {
			-webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
}

body main .container .icon-block{
		padding-bottom: 95px;
		padding-top: 50px;
		margin: 0 auto;
}

body main .container .section-text{
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
		-webkit-box-pack: center;
			-ms-flex-pack: center;
				justify-content: center;
}

	.section-text::after{
		content: "";
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: absolute;
		top: 115px;
		 width: 60px;
		 height: 3px;
		 background-color: #f38181;
		 opacity: 0;
		 -webkit-transition: all 0.5s ease;
		 -o-transition: all 0.5s ease;
		 transition: all 0.5s ease;
}

	.section-text::after{
		opacity: 1;
		-webkit-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		}

	.section-subtitle{
		font-family: 'Kaushan Script';
		color: #333333;
		font-size: 24px;
		font-weight: 300;
}

	.section-title{
		font-family: 'montserrat-bold';
		color: #333333;
		font-size: 30px;
		font-weight: 900;
		text-transform: uppercase;
		-webkit-box-pack: center;
			-ms-flex-pack: center;
				justify-content: center;
		overflow: hidden;
		margin-top: 9px;
}

body main .container .article-portfolio{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack:distribute;
		justify-content:space-around;
		-ms-flex-wrap:wrap;
			flex-wrap:wrap;
	padding-top: 100px;
	padding-bottom: 17px;
	margin: 0 auto;
}

.article-item-title{
    font-family: 'montserrat-bold';
    color: #333333;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    margin-bottom: 20px;
}

.article-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 381px;
	padding-bottom: 104px;
}

.article-text{
	font-family: roboto;
	font-size: 15px;
	font-weight: 400;
	color: #999999;
}

 .article-icon{
	padding-right: 28px;
	padding-bottom: 40px;

}

.portfolio {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
-webkit-box-pack:justify;
    -ms-flex-pack:justify;
        justify-content:space-between;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

.title {
    display: inline-block;
	text-align: center;
	font-family: 'roboto';
	font-weight:300;
	font-size:15px;
    color:#999999;
    padding-left: 122px;
	padding-right: 127px;
	padding-top: 79px;
	line-height: 24px;
}

.about-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 35px 0 90px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-top: 57px;
}

.profile-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
	position: relative;
	width: 380px;
	height: 470px;
}

.profile-item:hover{
	background-color: #95e1d3;
}

.profile-name{
	text-align: center;
	padding: 30px 0 15px 0;
	font-family: 'montserrat';
	font-weight: 400;
	font-size:14px;
    color:#333333;
    text-transform: uppercase;
    font-weight: bold;
}

.profile-job{
	text-align: center;
	font-family: roboto;
	font-weight:300;
	font-style: italic;
	font-size:15px;
	color:#999999;
}

 .slasher{
    opacity: 0;
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
    background-image: -webkit-linear-gradient(top, #f38181, #fce38a);
    background-image: -o-linear-gradient(top, #f38181, #fce38a);
    background-image: linear-gradient(to bottom, #f38181, #fce38a);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.profile-item:hover .profile-img{
	position: relative;
	opacity: 0.1;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	bottom: 10px;
	right: 10px;
}

.profile-item:hover>.slasher {
    opacity: 1;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.social-icon-block{
	position: absolute;
	top:50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	z-index: 1;
}

.social_icon_item{
	margin: 1.5px;
	height: 55px;
	width: 55px;
	background-color: #fce38a;
}

.social_icon_item:hover{
	background-color: #95e1d3;
}

.social-icon-item{
	margin: 1px;
	height: 56px;
	width: 56px;
	background-color: #fce38a;
}

.social-icon-item:hover{
	background-color: #95e1d3;
}

.afterblock-text{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.social-icon-link {
	display: inline-block;
	width: 57px;
	height: 56px;
	background-color: #fce38a;
	fill:#f38181;
}

 .social-icon-link:hover {
	background-color: #f38181;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.social-icon-link:hover .social-icon {
		background-color: #f38181;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
}

.social-icon-link:hover  .social-icon use {
		fill: white;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
}

.social-icon {
		background-color: #fce38a;
		width: 27px;
		height: 27px;
		margin: 14px;
}

footer {
	width: 1200px;
	border-top: 1px solid #e5e5e5;
	margin: 10px auto;
}

.footer_wrap{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 1180px;
	-webkit-box-pack: start;
    	-ms-flex-pack: start;
        	justify-content: flex-start;
	-webkit-box-align: start;
    	-ms-flex-align: start;
    		align-items: flex-start;
	margin-top: 10px;
}

.copyright{
	width: 300px;
	height: 14px;
	color: #333333;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	padding-top: 27px;
	-webkit-box-flex: 1;
    	-ms-flex-positive: 1;
			flex-grow: 1;
			text-decoration: none;
 }

.footer_link{
text-decoration: none;
color: #f38181;
}

input {
	width: 210px;
	height: 40px;
	background-color: #ffffff;
	border: 1px solid #e7e7e7;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	line-height: 24px;
	padding-left: 15px;
	margin-right: -5px;
}
	input[type="submit"] {
		width: 150px;
		height: 40px;
		background-color: #95e1d3;
		font-style: normal;
		color: #ffffff;
		font-family: montserrat;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		padding: 0;
		margin-right: 0;
		cursor: pointer;
}

body footer form *::-webkit-input-placeholder {
		color: #dddddd;
		opacity: 1;
}

body footer form *:-moz-placeholder {
		color: #dddddd;
		opacity: 1;
}

body footer form *::-moz-placeholder {
		color: #dddddd;
		opacity: 1;
}

body footer form *:-ms-input-placeholder {
		color: #dddddd;
		opacity: 1;
}


:required:focus{
	border:1px solid #ff0000;
}
input{
	outline: none;
}



	
  